starlette
asyncpg
aiomysql
aiosqlite
databases
aiofiles
itsdangerous
uvicorn
sqlalchemy==1.3.20
aiohttp
webargs
webargs-starlette
python-socketio
cryptography
aioftp
python-dotenv
zipstream
aiozipstream>=0.4