.search-container {
  display:flex;
  font-size:14px;
  margin:25px 0px;
}

.search-input {
  border:1px solid #ddd;
  border-radius:5px 0 0 5px;
  padding:10px;
  border-right:none;
  width:100%;
  background-color:#f1f1f1;
}

.btn.btn-default.search-btn {
  border:1px solid #ddd;
  background-color:#FFFFFF !important;
  border-radius:0 5px 5px 0;
  border-left:none;
  background-image:none;
  box-shadow:none;
  color:#919693;
}

