{% extends 'site_elements/base.html' %}

{% block title %}{{ request.path_params['community'] }}{% endblock %}

{% block nav_title %}
    <a class="navbar-brand text-light" href="{{ request.url_for('CommunityPage', community=request.path_params['community']) }}">
        {{ request.path_params['community'] }} <span style="font-size: 10px;">&nbsp;hosted by SQLMatches</span>
    </a>
{% endblock %}

{% block content %}
        {% if 'steam_id' in request.session and request.session['steam_id'] == base_details.owner_id %}
            <div class="card text-light" style="background-color: #151415;margin-bottom: 50px;width: 50%;">
                <div class="card-body">
                    <h4 class="card-title">Owner Panel</h4>
                    <p>API Key:&nbsp;<span class="key-hidden"><br>{{ base_details.api_key }}<br></span></p>
                    <p class="text-danger" style="font-size: 10px;">NEVER SHARE YOUR API KEY WITH ANYONE, MISS USING OUR API WILL RESULT IN A PERMANENT BAN!</p>
                    <button class="btn btn-warning btn-sm" type="button"><i class="icon-fire"></i>&nbsp;Regenerate API Key</button>
                    <button class="btn btn-danger btn-sm" type="button"><i class="icon-exclamation"></i>&nbsp;Disable Page <span style="font-size: 0.7em;">(this action can NOT be undone.)</span></button>
                </div>
            </div>
        {% endif %}
        <!-- Start: Search Field With Icon -->
        <div class="d-xl-flex justify-content-xl-center search-container">
            <input type="text" class="search-input" name="search-bar" placeholder="Name, SteamID64 or MatchID">
            <button class="btn btn-primary search-btn" type="button"> <i class="fa fa-search"></i></button>
        </div>
        <!-- End: Search Field With Icon -->
        {% if matches|length > 0 %}
            {% for match in matches %}
                <div style="cursor: pointer;" onclick="location.href = '{{ request.url_for('ScoreboardPage', community=request.path_params['community'], match_id=match.match_id) }}';" class="card match-card border-0" data-bs-hover-animate="pulse">
                    <div class="card-img w-100 d-block" style="background-image: url('{{ request.url_for('assets', path='img/maps/' + map_images[match.map] if match.map in map_images else '') }}');"></div>
                    <div class="card-img-overlay d-flex d-xl-flex align-items-center justify-content-xl-center align-items-xl-center" style="padding: 20px;">
                        <div class="row">
                            <div class="col-md-4 col-xl-4 d-flex justify-content-center">
                                <h1 class="text-light"><span style="font-size: 20px;">Team</span>&nbsp;{{ match.team_1_name }}</h1>
                            </div>
                            <div class="col-md-4 d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                <h1 class="text-light">
                                    {% if match.status == 0 and match.team_1_score != match.team_2_score %}
                                        {% if match.team_1_score > match.team_2_score %}
                                            <span class="won">{{ match.team_1_score }}</span>
                                            :
                                            <span class="lost">{{ match.team_2_score }}</span>
                                        {% else %}
                                            <span class="lost">{{ match.team_1_score }}</span>
                                            :
                                            <span class="won">{{ match.team_2_score }}</span>
                                        {% endif %}
                                    {% else %}
                                        <span>{{ match.team_1_score }}</span>:<span>{{ match.team_2_score }}</span>
                                    {% endif %}
                                </h1>
                            </div>
                            <div class="col-md-4 d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                <h1 class="text-light"><span style="font-size: 20px;">Team</span>&nbsp;{{ match.team_2_name }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="text-light" style="margin-top: 15px;">No results!</h3>
        {% endif %}
        <div class="btn-group" role="group" aria-label="Pages" style="margin-top: 25px;">
            {% if 'page' in request.path_params and request.path_params['page'] > 1 %}
                <a href="{{ request.url_for('CommunityPagePagination', community=request.path_params['community'], page=request.path_params['page'] - 1) }}">
                    <button type="button" class="btn btn-light" style="margin-right: 10px;"><i class="icon-arrow-left"></i>&nbsp;Previous</button>
                </a>
            {% else %}
                <button type="button" class="btn btn-light" style="margin-right: 10px;" disabled><i class="icon-arrow-left"></i>&nbsp;Previous</button>
            {% endif %}
            <a href="{{ request.url_for('CommunityPagePagination', community=request.path_params['community'], page=request.path_params['page'] + 1 if 'page' in request.path_params else 2) }}">
                <button type="button" class="btn btn-light" {% if matches|length == 0 %}disabled{% endif %}>Next&nbsp;<i class="icon-arrow-right"></i></button>
            </a>
        </div>
{% endblock %}