{% extends 'site_elements/base.html' %}

{% block title %}Home{% endblock %}

{% block nav_title %}
    <a class="navbar-brand text-light" href="{{ request.url_for('CommunityPage', community=request.path_params['community']) }}">
        {{ request.path_params['community'] }} <span style="font-size: 10px;">&nbsp;hosted by SQLMatches</span>
    </a>
{% endblock %}

{% block content %}
        <div class="card text-light scoreboard-card">
            <div class="card-body scoreboard-body">
                <h4 class="text-center card-title" style="background: rgb(91,118,141); background: linear-gradient(90deg, rgba(91,118,141,1) 0%, rgba(10,47,78,1) 100%);margin: 0px;">Team Ward</h4>
                <div class="table-responsive text-light scoreboard">
                    <table class="table table-hover">
                        <thead class="text-light">
                            <tr>
                                <th class="player-cell">Name</th>
                                <th class="stats-cell">Kills</th>
                                <th class="stats-cell">Assists</th>
                                <th class="stats-cell">Deaths</th>
                                <th class="stats-cell">KDR</th>
                                <th class="stats-cell">HS %</th>
                                <th class="stats-cell">HIT %</th>
                                <th class="stats-cell">MVPs</th>
                                <th class="stats-cell">Score</th>
                                <th class="stats-cell">Ping</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-light">
                                <td>Ward</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                            </tr>
                            <tr class="text-light">
                                <td>Ward</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                            </tr>
                            <tr class="text-light">
                                <td>Ward</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                            </tr>
                            <tr class="text-light">
                                <td>Ward</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                            </tr>
                            <tr class="text-light">
                                <td>Ward</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center" style="margin: 25px 0;">
            <h1 class="text-light"><span class="won">16</span>:<span class="lost">9</span></h1><button class="btn btn-success btn-sm" type="button"><i class="icon-cloud-download"></i>&nbsp;Download</button></div>
        <div class="card text-light scoreboard-card">
            <div class="card-body scoreboard-body">
                <h4 class="text-center card-title" style="background: rgb(172,155,102); background: linear-gradient(90deg, rgba(172,155,102,1) 0%, rgba(99,79,15,1) 100%);margin: 0px;">Team Ward</h4>
                <div class="table-responsive text-light scoreboard">
                    <table class="table table-hover">
                        <thead class="text-light">
                            <tr>
                                <th class="player-cell">Name</th>
                                <th class="stats-cell">Kills</th>
                                <th class="stats-cell">Assists</th>
                                <th class="stats-cell">Deaths</th>
                                <th class="stats-cell">KDR</th>
                                <th class="stats-cell">HS %</th>
                                <th class="stats-cell">HIT %</th>
                                <th class="stats-cell">MVPs</th>
                                <th class="stats-cell">Score</th>
                                <th class="stats-cell">Ping</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-light">
                                <td>Ward</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                            </tr>
                            <tr class="text-light">
                                <td>Ward</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                            </tr>
                            <tr class="text-light">
                                <td>Ward</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                            </tr>
                            <tr class="text-light">
                                <td>Ward</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                            </tr>
                            <tr class="text-light">
                                <td>Ward</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                                <td class="text-center">999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}